USE [grugru]
GO
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [FK_NhanVien_LoaiNhanVien]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [DF_KhachHang_cmnd]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [DF_KhachHang_diemTichLuy]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [DF_ChiTietHoaDon_size]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [DF_ChiTietHoaDon_soLuong]
GO
/****** Object:  Index [UN_maSanPham]    Script Date: 12/14/2018 08:13:47 ******/
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [UN_maSanPham]
GO
/****** Object:  Index [UN_maNV]    Script Date: 12/14/2018 08:13:47 ******/
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [UN_maNV]
GO
/****** Object:  Index [UN_loaiNV]    Script Date: 12/14/2018 08:13:47 ******/
ALTER TABLE [dbo].[LoaiNhanVien] DROP CONSTRAINT [UN_loaiNV]
GO
/****** Object:  Index [UN_maKH]    Script Date: 12/14/2018 08:13:47 ******/
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [UN_maKH]
GO
/****** Object:  Index [UN_maHoaDon]    Script Date: 12/14/2018 08:13:47 ******/
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [UN_maHoaDon]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/14/2018 08:13:47 ******/
DROP TABLE [dbo].[SanPham]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/14/2018 08:13:47 ******/
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 12/14/2018 08:13:47 ******/
DROP TABLE [dbo].[LoaiNhanVien]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/14/2018 08:13:47 ******/
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/14/2018 08:13:47 ******/
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/14/2018 08:13:47 ******/
DROP TABLE [dbo].[ChiTietHoaDon]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/14/2018 08:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[idHoaDon] [int] NOT NULL,
	[idSanPham] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[size] [nchar](1) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[idHoaDon] ASC,
	[idSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/14/2018 08:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maHoaDon] [nchar](10) NOT NULL,
	[thoiGianLap] [datetime] NOT NULL,
	[gia] [money] NOT NULL,
	[idKhachHangMua] [int] NULL,
	[idNhanVienLap] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/14/2018 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maKH] [nchar](10) NOT NULL,
	[hoTen] [nvarchar](50) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[soDienThoai] [nchar](15) NOT NULL,
	[diemTichLuy] [int] NOT NULL,
	[cmnd] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 12/14/2018 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[id] [int] NOT NULL,
	[loaiNV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_LoaiNhanVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/14/2018 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maNV] [nchar](10) NOT NULL,
	[idLoaiNV] [int] NOT NULL,
	[hoTen] [nvarchar](50) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[matKhau] [varchar](max) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/14/2018 08:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maSanPham] [nchar](10) NOT NULL,
	[tenSanPham] [nvarchar](50) NOT NULL,
	[gia] [money] NOT NULL,
	[thongTin] [nvarchar](max) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([idHoaDon], [idSanPham], [soLuong], [size]) VALUES (1, 150, 0, N'S')
INSERT [dbo].[ChiTietHoaDon] ([idHoaDon], [idSanPham], [soLuong], [size]) VALUES (1, 159, 0, N'S')
INSERT [dbo].[ChiTietHoaDon] ([idHoaDon], [idSanPham], [soLuong], [size]) VALUES (2, 297, 0, N'S')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([id], [maHoaDon], [thoiGianLap], [gia], [idKhachHangMua], [idNhanVienLap]) VALUES (1, N'Z8NZKG9M  ', CAST(N'2019-03-15T16:04:04.550' AS DateTime), 257040.9422, 199, 9)
INSERT [dbo].[HoaDon] ([id], [maHoaDon], [thoiGianLap], [gia], [idKhachHangMua], [idNhanVienLap]) VALUES (2, N'HOETQA    ', CAST(N'2019-08-05T02:53:52.430' AS DateTime), 158245.6245, 368, 5)
INSERT [dbo].[HoaDon] ([id], [maHoaDon], [thoiGianLap], [gia], [idKhachHangMua], [idNhanVienLap]) VALUES (3, N'SJ06S4E   ', CAST(N'2019-10-15T02:13:38.430' AS DateTime), 628688.9099, 158, 9)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([id], [maKH], [hoTen], [ngaySinh], [soDienThoai], [diemTichLuy], [cmnd]) VALUES (2, N'BURWPA    ', N'Trần Lý Bông', CAST(N'1987-01-15' AS Date), N'0420354228     ', 10, N'310475602')
INSERT [dbo].[KhachHang] ([id], [maKH], [hoTen], [ngaySinh], [soDienThoai], [diemTichLuy], [cmnd]) VALUES (3, N'UP2ED4N   ', N'Lê Lý Mai', CAST(N'1974-08-01' AS Date), N'0278831136     ', 10, N'310475602')
INSERT [dbo].[KhachHang] ([id], [maKH], [hoTen], [ngaySinh], [soDienThoai], [diemTichLuy], [cmnd]) VALUES (4, N'D68WMPPPA ', N'Thái Văn Liên', CAST(N'1971-02-17' AS Date), N'0944168870     ', 10, N'310475602')
GO
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
INSERT [dbo].[LoaiNhanVien] ([id], [loaiNV]) VALUES (1, N'Nhân viên ')
INSERT [dbo].[LoaiNhanVien] ([id], [loaiNV]) VALUES (2, N'Quản lý   ')
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([id], [maNV], [idLoaiNV], [hoTen], [ngaySinh], [matKhau]) VALUES (1, N'usercfrnh ', 2, N'Lý Thuỷ Bính', CAST(N'1989-11-07' AS Date), N'13874383')
INSERT [dbo].[NhanVien] ([id], [maNV], [idLoaiNV], [hoTen], [ngaySinh], [matKhau]) VALUES (2, N'userbljce ', 2, N'Trần Tiên ', CAST(N'1998-11-07' AS Date), N'61805176')
INSERT [dbo].[NhanVien] ([id], [maNV], [idLoaiNV], [hoTen], [ngaySinh], [matKhau]) VALUES (3, N'usersihkt ', 2, N'Trần Tiên Tuấn', CAST(N'1987-01-13' AS Date), N'27907628')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([id], [maSanPham], [tenSanPham], [gia], [thongTin]) VALUES (1, N'CLAPUMTBI7', N'Monsipover', 8890.2288, N'Đây là mô tả 232')
INSERT [dbo].[SanPham] ([id], [maSanPham], [tenSanPham], [gia], [thongTin]) VALUES (2, N'MJKPH1G7Y2', N'Sursapicator', 72.2618, N'Đây là mô tả 470')
INSERT [dbo].[SanPham] ([id], [maSanPham], [tenSanPham], [gia], [thongTin]) VALUES (3, N'MP2R3L8W8N', N'Rapbanax', 54679.8325, N'Đây là mô tả 728')
GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_maHoaDon]    Script Date: 12/14/2018 08:13:48 ******/
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [UN_maHoaDon] UNIQUE NONCLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_maKH]    Script Date: 12/14/2018 08:13:48 ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UN_maKH] UNIQUE NONCLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_loaiNV]    Script Date: 12/14/2018 08:13:48 ******/
ALTER TABLE [dbo].[LoaiNhanVien] ADD  CONSTRAINT [UN_loaiNV] UNIQUE NONCLUSTERED 
(
	[loaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_maNV]    Script Date: 12/14/2018 08:13:48 ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UN_maNV] UNIQUE NONCLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_maSanPham]    Script Date: 12/14/2018 08:13:48 ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [UN_maSanPham] UNIQUE NONCLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_ChiTietHoaDon_soLuong]  DEFAULT ((0)) FOR [soLuong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_ChiTietHoaDon_size]  DEFAULT ('S') FOR [size]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_diemTichLuy]  DEFAULT ((10)) FOR [diemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_cmnd]  DEFAULT ((310475602)) FOR [cmnd]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([id])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([idKhachHangMua])
REFERENCES [dbo].[KhachHang] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([idNhanVienLap])
REFERENCES [dbo].[NhanVien] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiNhanVien] FOREIGN KEY([idLoaiNV])
REFERENCES [dbo].[LoaiNhanVien] ([id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiNhanVien]
GO
